/* src/pages/tweakscript-nonai/nonai.css */
.app-container {
  padding: 20px;
  background-color: #1e1e1e;
  color: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.upload-bar {
  margin-bottom: 10px;
  display: flex;
  gap: 20px;
}

.top-section {
  display: flex;
  gap: 20px;
  flex: 1;
  min-height: 400px;
  max-height: 500px;
  margin-bottom: 20px;
}

.video-panel {
  flex: 6;
  background-color: #393838;
  border: 1px solid #606060;
  border-radius: 6px;
  padding: 10px;
}

.notes-panel {
  flex: 4;
  background-color: #393838;
  border: 1px solid #606060;
  border-radius: 6px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.notes-panel textarea {
  width: 100%;
  height: 100%;
  resize: none;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #606060;
  background: #2a2a2a;
  color: white;
  font-family: inherit;
  font-size: 14px;
}

.transcript-panel {
  background-color: #393838;
  border: 1px solid #606060;
  border-radius: 6px;
  padding: 10px;
  overflow-y: auto;
  max-height: 150px;
}

.transcript-text {
  overflow-y: auto;
  margin-top: 10px;
  padding-right: 5px;
  max-height: 100%;
}

.current-line {
  background-color: #4a4a4a;
  font-weight: bold;
  padding: 5px;
  border-radius: 3px;
}

.timestamp {
  color: gray;
  font-weight: bold;
  margin-right: 5px;
}